.main-text-new-view {
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.styled-button-container {
    margin-top: 65px;
}

.refresh-button {
    position: absolute;
    width: 15px;
    height: 18.56px;
    left: 86%;
    top: 58%;
    border: 1.4px;
    color: #FFBD21;
    font-size: 40px;
}

.label-container{
    position: relative;
}