.credentials-list-item {
  display: flex;

  border-radius: 4px;
  border: solid 1px #ffbd21;

  &--selected {
    border: solid 1px #fff;

    .credentials-list-item__domain {
      color: #fff;
    }

    .credentials-list-item__buttons {
      border-left: solid 1px #fff;
    }
  }

  &:hover {
    border: solid 1px #fff;

    .credentials-list-item__domain {
      color: #fff;
    }

    .credentials-list-item__buttons {
      border-left: solid 1px #fff;
    }
  }

  &__domain {
    flex: 1;

    color: #ffbd21;

    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;

    padding: 20px;
    margin: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    border-left: solid 1px #ffbd21;
    padding: 14px;
    gap: 10px;

    button {
      all: unset;
      &:hover {
        svg {
          path {
            stroke: #ffbd21;
          }
        }
      }
    }
  }
}
